{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>FAT FINAL</title>
  </head>
  <style type="text/css">
    @media print {
    .pagebreak { page-break-before: always; }
}
  </style>
  <body>
    <br>
    {% for i in fatdone %}
    <div class="container-fluid" style="background-image: url(static/blankfat1200new.jpeg); background-repeat: no-repeat; background-position:center;">
    <div class="container overflow-hidden text-left"> 
  <div class="row gx-5">
    <div class="col-2">
      <br><br><br><br><br><br><br>
    <input type="text" value="{{i.name}}" style="background:transparent; margin-left: 240px; width: 250px; border: 0px solid;font-weight: bolder;margin-top:65px; font-size: 20px; font-family:Bodoni72Oldstyle;">
    <br>
    <input type="text" value="{{i.empid}}" style=" background: transparent; margin-left: 245px; border: 0px solid;font-weight: bolder;margin-top:4px; font-size: 20px; font-family:Bodoni72Oldstyle;">
    <br><br><br>
  
    <input type="text" value="{{i.dept}}" style="border: 0px solid; background: transparent; margin-left: 240px; font-weight: bolder; font-size: 20px; font-family:Bodoni72Oldstyle;">
    <br>
    
    <input type="text" value="{{i.circle}}" style="background: transparent; margin-left: 265px; margin-top: 2px; border: 0px solid;font-weight: bolder; font-size: 20px; font-family:Bodoni72Oldstyle;">
    <br><br><br><br>
    <input type="text" value="{{i.grade}}" style="margin-left:170px; margin-top: 10px; background: transparent; border: 0px solid;font-weight: bolder; font-size: 20px; font-family:Bodoni72Oldstyle;">
  </div>
    <div class="col">
      <br><br><br><br><br><br><br><br><br><br><br>
      <div style="margin-left:728px; margin-top:15px;"><img src="{{i.image}}" height="95px"></div>
    </div>
  </div>
</div>
<div class="container px-4 text-left">
  <div class="row gx-5">
    <div class="col-2">
      <br>
     <div class=""><input type="text" value="{{i.location}}" style="margin-left:190px; background: transparent; width: 90px; border: 0px solid;font-weight: bolder;margin-top:1px;  font-size: 20px; font-family:Bodoni72Oldstyle;">
      <br><br>
    <input type="text" value="{{i.certno}}" style=" margin-top:5px; background: transparent;  margin-left: 270px; border: 0px solid;font-weight: bolder; margin-top: 10px; font-size: 20px; font-family:Bodoni72Oldstyle;">
    <br><br><br><br><br><br><br></div>
    </div>
    <div class="col-2 p-0" style="margin-left:200px; margin-top:10px">
      <div ><img src="{{i.qr}}" height="85px"> 
      </div>
    </div>
    <div class="col">
      <br>
      <div class=""><input type="text" value="{{i.date}}" style="background: transparent; margin-left:50px;border: 0px solid;font-weight: bolder; font-size: 20px; margin-top:1px; font-family:Bodoni72Oldstyle;"></div>
    </div>
  </div>
</div>
</div>
<div class="pagebreak"> </div>
{% endfor %}
<button onclick="window.print()">Download</button>
</body>
</html>